{% extends 'base.html' %}
{% block title %}Faculty{% endblock %}
{% block content %}
<div class="card col-md-10 mx-auto p-4">
    <div class="table-responsive">
        <h2>Faculty Members</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for member in faculty %}
                <tr>
                    <td>
                        <a href="{% url 'faculty_detail' member.pk %}">
                            {{ member.user.first_name }} {{ member.user.last_name }}
                        </a>
                    </td>
                    <td>{{ member.designation }}</td>
                    <td>{{ member.department }}</td>
                    <td>
                        <a href="{% url 'faculty_detail' member.pk %}" class="btn btn-sm btn-outline-primary">Profile</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4">No faculty members found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}