{% extends 'base.html' %}
{% block title %}Programs{% endblock %}
{% block content %}
<div class="card col-md-10 mx-auto p-4">
    <div class="table-responsive">
        <h2>Degree Programs</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Degree Type</th>
                    <th>Description</th>
                    <th>Duration (years)</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                <tr>
                    <td>
                        <a href="{% url 'program_detail' program.id %}">{{ program.name }}</a>
                    </td>
                    <td>{{ program.degree_type }}</td>
                    <td>
                        {{ program.description }}
                    </td>
                    <td>{{ program.duration_years }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="5">No programs available.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>
