{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="card">
    <h2><i class="bi bi-envelope-at-fill"></i> Contact Us</h2>
    <p>
        We'd love to hear from you! Reach out to us using the information below.
    </p>
    <ul class="list-unstyled">
        <li><i class="bi bi-geo-alt-fill"></i> 123 University Avenue, Yangon, Myanmar</li>
        <li><i class="bi bi-telephone-fill"></i> +95 1 234 5678</li>
        <li><i class="bi bi-envelope-fill"></i> info@nucs.edu.mm</li>
    </ul>
</div>
{% endblock %}