{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="text-center mt-5">
    <h1 class="mb-4">Welcome to the National University of Computer Studies</h1>
    <p class="mt-4">
        The National University of Computer Studies (NUCS) stands at the forefront of technology education and research in Myanmar.
        Established with a vision to empower the next generation of innovators, NUCS offers a dynamic learning environment where students are encouraged to explore, 
        create, and lead in the ever-evolving field of computer science.
    </p>
    <p class="mt-4">
        Our university provides a comprehensive range of undergraduate and postgraduate programs, 
        designed to equip students with both theoretical knowledge and practical skills. With a dedicated faculty, 
        state-of-the-art laboratories, and strong industry partnerships, NUCS ensures that graduates are well-prepared to meet the demands of the global digital economy.
    </p>
    <p class="mt-4">
        At NUCS, we believe in fostering a culture of curiosity, collaboration, and continuous learning. 
        Our vibrant campus life, diverse student community, and commitment to academic excellence make NUCS a premier destination for aspiring computer professionals.
        Join us and become part of a community that is shaping the future of technology in Myanmar and beyond.
    </p>
    <div class="mb-4">
        <a class="btn btn-outline-primary btn-lg me-2" href="#cards">Explore <i class="bi bi-search"></i></a>
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'home' %}"><strong>Enroll <i class="bi bi-pencil-square"></i></strong></a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'register' %}"><strong>Admission <i class="bi bi-pencil-square"></i></strong></a>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row mb-5" id="cards">
        <div class="col-md-4 mb-4">
            <div class="card card-academic p-4">
                <h4>Programs</h4>
                <p>Explore undergraduate and postgraduate programs.</p>
                <div class="text-end">
                    <a href="{% url 'program_list' %}" class="btn btn-link">Explore <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card card-academic p-4">
                <h4>Courses</h4>
                <p>Find your courses and manage enrollments.</p>
                <div class="text-end">
                    <a href="{% url 'course_list' %}" class="btn btn-link">Learn More <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card card-academic p-4">
                <h4>Faculty</h4>
                <p>Meet our world-class faculty and departments.</p>
                <div class="text-end">
                    <a href="{% url 'faculty_list' %}" class="btn btn-link">See Faculty <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    {% include "portal/news_and_events.html" %}

</div>

{% endblock %}